/*style the document*/
/*overall style of the body*/
.card {
    position:relative;
    height: 800px;
    width: 300px;
    background-color: rgb(211, 211, 211);
    margin: 60px auto;
}
/*
.header{
    position:absolute;
    height: 200px;
    left:0;
    right:0;
    top:0;
    background-image: linear-gradient(to right, lightblue, 
    lightblue);
} 
.header img{
    position:absolute;
    height:180px;
    width:180px;
    left:22px;
    right:22px;
    top: 0;
}
.header h3{
    position:absolute;
    font-family: sans-serif;
    color: white;
    font-size: 26px;
    font-weight: 600;
    letter-spacing:1px ;
    top: 118px;
    left: 96px;
} */